{% extends "base.html" %} 

{% block content %}

<h1 class="text-center">Eliminar tarea</h1>

<p> estas seguro que quieres eliminar la tarea: {{task.task_name}} ?</p>

<form method="POST">

    {% csrf_token %}

    <button 
        type="submit"
        class="btn btn-danger">
        Eliminar
    </button>

    <button
        type="button"
        class="btn btn-secondary"
        onclick="window.location.href=' {% url "tasks:detalle" task.id %} '">
        Cancelar
    </button>

</form>

{% endblock  %}
